<div class="container">
  <h3>Update Goal:</h3>
   <div class="review-box-full">
    <div class="reviewform text-center">
    <%= form_tag "/", method: :get do %>
      <div class="form-group">
        <%= label_tag(:review_comments_due_date, "Review Comments Due By") %>
        <%= date_field(:review_comments_due_date, "", class: 'form-control', :autofocus => true) %>
      </div>
      <div class="form-group">
        <h4>Who should participate in the review?</h4>
        <%= label_tag(:id123, "Jaime Durheim") %>
        <%= check_box_tag(:id123) %>
        <%= label_tag(:id124, "Nora Durheim") %>
        <%= check_box_tag(:id124) %>
      </div>
      <div class="form-group">
        <%= label_tag(:review_target, "What ") %>
        <%= text_area_tag(:review_target, "Make a schedule - delay the schedule - get yelled at - have a beer - focus on firefli.", :size => "80x5", :autofocus => true, class: 'form-control') %>
      </div>
      <div class="form-group">
          <%= submit_tag('Schedule Review', :class => 'btn btn-primary btn-lg') %>
          <a href="#"><button type="button" class="btn btn-default">Cancel</button></a>
        </div>
    <% end %>
    </div>
  </div>
</div>
